<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Погода в Париже</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
        }
        .weather-data {
            margin-top: 50px;
        }
    </style>
</head>
<body>
    <h1>Погода в Париже</h1>
    <div class="weather-data">
        <p>Температура: <span id="temperature">{{ data.temp }}</span> °C</p>
        <p>Влажность: <span id="humidity">{{ data.humidity }}</span>%</p>
        <p>Ветер: <span id="wind-speed">{{ data.wind }}</span> м/c, Направление: <span id="wind-direction">{{ data.deg }}</span>°</p>
    </div>
</body>
</html>